/* #F7F7F2

   #F2F2F7*/

#headPic {
	background-color: #000000;
	opacity: 0.5;

}

span {
	font-size: 45px;
	font-family: 'Michroma', sans-serif;
	font-style: italic;
	font-weight: bolder;
}

h3 {
	margin: 0;
	font-family: 'Michroma', sans-serif;
	font-size: 23px;
	font-weight: bolder;
}

h2 {
 		font-family: Verdana;
 		font-weight: bolder;
 		margin: 0;
 		font-size: 32px;
 		position: relative;
 		top: 30px;
 		text-align: center;
}

.main {
	color: #c43800;
	font-family: Helvetica;
	font-size: 18px;
	line-height: 24px;
	margin: 0 auto;
	width: 890px;
	padding-top: 50px;
	padding-bottom: 50px; 

}

#upper,
#arriba {
	color: #ffffff;
}

#main-text {
	color: #ffffff;
	background-color: #000000;
	opacity: 0.7;
	border-radius: 10px;
	padding: 10px;
}
