#headPic {
	background-color: #F7F7F2;
	border-bottom: 10px double rgb(153,153,153);
}

span {
	font-size: 45px;
	font-family: Verdana;
	font-style: italic;
	font-weight: bolder;
}

h3 {
	margin: 0;
	font-family: Trebuchet MS;
	font-size: 23px;
	font-weight: bolder;
}

h2 {
 		font-family: Verdana;
 		font-weight: bolder;
 		margin: 0;
 		font-size: 32px;
 		position: relative;
 		top: 30px;
 		text-align: center;
}

.main {
	color: #213266;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: bold;z
	line-height: 24px;
	margin: 0 auto;
	width: 890px;
	padding-top: 35px;
}
