.footer {
	bottom: 0;
	height: 50px;
	margin: 0 auto;
	background-color: #000000;
	opacity: 0.5;
}

#footer-text {
	position: relative;
	margin: 0 auto;
	font-size: 15px;
	font-weight: normal;
	color: #ffffff;
	top: 15px;
	left: 175px;
}