#arriba{
	position: relative;
	height: 300px;
	margin: 0 auto;
	width: 890px;
}

.lista {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 185px;
}
.lista ul {
	padding: 0;
}

.lista li > a {
	font-weight: bold;
}

#title {
  text-align: center;
  position: relative;
	top: -55px;
}

#info{
	font-family: Verdana;
	font-size: 21px;
	text-align: right;
	padding: 10px 0;
}

.eng {
	text-align: right;
	padding-top: 10px;
	font-size: 15px;
}

li {
	display: inline;
	font-family: Verdana;
	font-size: 20px;
	margin: 0 0 0 10px;

}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: green;
	text-decoration: none;
}
a:active {
	color: red;
}
