/* {
	margin: 0 auto;
	width:auto;
	height: auto;
}*/

/*body {
	background: url('../images/wood_floor.jpg') no-repeat;
	width: 890px;
	margin: 0 auto;
}

#title {
	text-align: center;
}
*/
h1 {
	font-family: Verdana;
	font-size: 45px;
	font-weight: bolder;
	font-style: italic;
	margin: 0;
}

h3 {
	margin: 0;
	font-family: Verdana;
	font-size: 23px;
	font-weight: bolder;
}

h2 {
 		font-family: Verdana;
 		font-weight: bolder;
 		margin: 0;
 		font-size: 32px;
 		position: relative;
 		top: 30px;
 		text-align: center;
}
 	
.main {
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
}
