#arriba{
	border-bottom: 10px double #DFE4E8;
	position: relative;
	height: 130px;
}

.lista {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	position: relative;
	left: 115px;
	top: 105px;
}
#info{
	font-family: Verdana;
	font-size: 22px;
	float: right;
	position: relative;
	top: 28px;
	left: 50px;
	width: 21%;
}
.eng {
	display: inline;
	float: right;
	padding-top: 10px;
}

li {
	display: inline;
	font-family: Verdana;
	font-size: 20px;
	margin: 0 0 0 10px;

}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: yellow;
	text-decoration: none;
}
a:active {
	color: orange;
}
