#upper{
	border-bottom: 10px double #DFE4E8;
	position: relative;
	height: 130px;
}


.menu {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 610px;
	margin-top: 80px;
}

.numbers {
	font-family: Verdana;
	font-size: 22px;
	margin-right: 25px;
	display: inline;
	position: fixed;
	left: 1035px;
	top: 40px;
}

.esp {
	display: inline;
	position: inherit;
	left: 1110px;
}

li {
	display: inline;
	font-family: Verdana;
	font-size: 20px;
	margin: 0 0 0 15px;

}
