#upper{
	border-bottom: 10px double #DFE4E8;
	position: relative;
	height: 150px;
}

#wrapper {
	background-color: #FFF;
	opacity: .6;
}

.menu {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	position: relative;
	left: 160px;
	top: 105px;
}

.numbers {
	font-family: Verdana;
	font-size: 21px;
	float: right;
	position: relative;
	top: 28px;
	left: 107px;
	width: 21%;
}

.esp {
	display: inline;
	float: right;
	padding-top: 10px;
	font-size: 15px;
}

li {
	display: inline;
	font-family: Verdana;
	font-size: 20px;
	margin: 0 0 0 10px;

}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: yellow;
	text-decoration: none;
}
a:active {
	color: orange;
}
